<html>
  <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
  <h1>Countries</h1>
  
  <p><a href="/"><font size="2">Back</font></a></p>
  <table class="sortable">
      <tr>
          <th>Country ID</th>
          <th>Country Name</th>
      </tr>    
      {% for item in table %}
      <tr>
      <td class="c2" style="text-align:center">{{item.country_id}}</td>
      <td class="c3">{{item.country_name}}</td>
    </tr>
    {% endfor %}
    </table>
</html>
