<html>
  <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }


    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
  <h1>Matches</h1>

  <p><a href="/"><font size="2">Back</font></a></p>
  <div><h4>Search for all matches by a team</h4></div>
  <form method="POST" action="/match_search">
      <table class="table1">
          <tr>
              <td align="left">Team Name:</td>
              <td align="left"><input type="text" name="search_name"></td>
          </tr>
      </table><br>
      <input type="submit" value="Search">
  </form>
  <hr>
  
  <table class="sortable">
      <tr>
          <th>Season</th>
          <th>Stage</th>
          <th>Match Date</th>
          <th>Home Team</th>
          <th>Away Team</th>
          <th>Home Team Goals</th>
          <th>Away Team Goals</th>
      </tr>    
      {% for item in table %}
      <tr>
      <td class="c2" style="text-align:center">{{item.season}}</td>
      <td class="c3">{{item.stage}}</td>
      <td class="c3">{{item.match_date}}</td>
      <td class="c3" style="text-align:center">{{item.home_team_id}}</td>
      <td class="c3" style="text-align:center">{{item.away_team_id}}</td>
      <td class="c3" style="text-align:center">{{item.home_team_goals}}</td>
      <td class="c3" style="text-align:center">{{item.away_team_goals}}</td>
    </tr>
    {% endfor %}
    </table>
</html>
