<html>
  <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }


    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
  <h1>User Players</h1>

  <div><h4>Log-in:</h4></div>
  <form method="POST" action="/user_players_search">
      <table class="table1">
          <tr>
              <td align="left">Please enter your username:</td>
              <td align="left"><input type="text" name="search_name"></td>
          </tr>
      </table><br>
      <input type="submit" value="Search">
  </form>
  <hr>
  
  <table class="sortable">
      <tr>
          <th>Player ID</th>
          <th>Player Name</th>
          <th>Date of Birth</th>
          <th>Height</th>
          <th>Weight</th>
          <th>Overall Rating</th>
          <th>Potential</th>
          <th>Team ID</th>
          <th>User ID</th>
          <th>User Name</th>
      </tr>    
      {% for item in table %}
      <tr>
      <td class="c2" style="text-align:center">{{item.player_id}}</td>
      <td class="c3">{{item.player_name}}</td>
      <td class="c3">{{item.player_dob}}</td>
      <td class="c3" style="text-align:center">{{item.height}}</td>
      <td class="c3" style="text-align:center">{{item.weight}}</td>
      <td class="c3" style="text-align:center">{{item.overall_rating}}</td>
      <td class="c3" style="text-align:center">{{item.potential}}</td>
      <td class="c3" style="text-align:center">{{item.team_id}}</td>
      <td class="c3" style="text-align:center">{{item.user_id}}</td>
      <td class="c3" style="text-align:center">{{item.user_name}}</td>
    </tr>
    {% endfor %}
    </table>
</html>
